body{
    margin: 50px;
}
div{
    background-color:bisque;
    width:fit-content;
    height:auto;
    padding: 10px;
    border:1px solid rgb(121, 126, 102);
    font-size: 1.2em;
}
p{
    font-size: 1.2em;
}
span{
    font-size: 1.2em;
    font-weight: bold;
}